<!DOCTYPE html>
<html>
<head>
  <title>AuthenticBlog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user.present? %>
  Welcome <%= current_user.email %>! | <%= link_to 'Sign Out', logout_path %>
<% else %>
  <%= link_to 'Register', new_user_path %> | <%= link_to 'Sign In', login_path %>
  <% end %>

  <%= notice %>
  <%= alert %>

  <title> Musings </title>
  <link rel="stylesheet" type="text/css" href="styles/styles.css">


</head>
<body>
<div id="header" <h1> Musings <h1></div>

<div id="nav">
<ul>
  <li><a href="musings.com/home" alt="Home">Home   |</a></li>
  <li><a href="musings.com/about" alt="About">   About   |</a></li>
  <li><a href="musings.com/tutorials" alt="Tutorials">   Tutorials   |</a></li>
  <li><a href="musings.com/places" alt="Places">   Places   |</a></li>
</ul>


<div id="photobar">
   <%= image_tag 'preferredsunset.jpg', alt: 'Kochi Sunset' %>
<!-- <img id= "preferredSunset" src="./Images/preferredsunset.jpg" alt="Kochi Sunset"/> -->
<img id= "snowyOwl" src="./Images/snowy4.jpg" alt="Snowy Owl"/>
<img id="cheetah" src="./Images/samburuCheetah.jpg" alt="Cheetah"/>
<img id="maduraiElephant" src="./Images/maduraielephant.jpg" alt="Madurai Elephant"/>
<img id= "Tiger" src= "./Images/tiger1.jpg" alt="Tiger"/>
<img id= "gorilla" src="./Images/gorillas29.jpg" alt="Gorilla"/>
</div>

<%= yield %>

</body>
</html>
